* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
}


/* common styles */
body {
    background-color: black;
}

.color-1 {
    color: rgb(230, 83, 60);
}

.color-2,
.img-title,
.img-description,
th {
    color: rgb(255, 255, 255);
}

.color-3,
.img-subtitle,
td {
    color: rgba(255, 255, 255, 0.5);
}

.display-flex {
    display: flex;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;

}

/* navbar styles */
.navbar-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.menubar {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 5px;
}

.list {
    gap: 50px;
    align-items: center;
}

.navbar-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.menubar ul li {
    list-style: none;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
}

.bar {
    display: none;
}

#active a {
    background-color: rgb(230, 83, 60);
    padding: 5px 15px;
    border-radius: 15px;
}

/* banner styles */
.banner-container {
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 900;
}

.banner-description {
    margin: 24px 0;
    max-width: 50%;
    line-height: 24px;
}

.banner-img {
    position: relative;
}

.btn {
    background-color: rgb(230, 83, 60);
    padding: 10px 30px;
    border-radius: 15px;
    font-size: .9rem;
    border: none;

}

.btn-primary {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 5px;
    font-size: .9rem;
}

.five-hundred {
    position: absolute;
    top: 128px;
    right: -44px;
    width: 136px;
    height: 66px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px;
}

.title {
    font-size: 2rem;
    font-weight: 900;
}

.sub-title {
    font-size: 0.9rem;
    font-weight: 300;
}

.three-hudred {
    position: absolute;
    height: 41px;
    width: 150px;
    padding: 22px 0px 26px 55px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    background-color: rgba(48, 48, 48, 0.74);
    top: 417px;
    left: -119px;
}

.three-hudred ::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    top: 27px;
    left: 11px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}

.heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.sub-heading {
    font-size: .9rem;
    font-weight: 400;
}

/* change your habit section  */
.habit-container {
    text-align: center;
    margin-top: 100px;
}

.habit-title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px
}

.habit-description {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 18px;
    padding: 0px 228px;
}

.card-container {
    gap: 50px;
}

.card {
    padding: 30px;

}

.card img {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.card-title {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    margin-bottom: 10px;
}
.card-description {
    text-align: center;
    font-size: .8rem;
}

/* run styles */
.run-container {
    margin: 20px 40px;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(48, 48, 48, 0.54);
    gap: 150px;
}

.run {
    width: 60%;
}

.run h2 {
    font-size: 46px;
    font-weight: 900;
    padding-right: 29px;
}
.run-subtitle {
    line-height: 24px;
    margin-top: 15px;
    padding: 0 41px 0px 0px;
    margin-bottom: 10px;
}

.run-img {
    height: 300px;
    width: 40%;
}

.run-img img {
    border-radius: 10px;
    height: 100%;
}

.btn-secondary {
    background-color: rgb(230, 83, 60);
    padding: 15px 55px;
    border-radius: 20px;
    font-size: .9rem;
    border: none;
    margin: 24px 0 0 0;
    color: rgb(255, 255, 255);
}
 /* training styles */

 .training {
    margin: 80px 0;
}
.training-img-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;  
}
.training-title{
    font-size: 3rem;
    font-weight: 800;
}
.training-description {
    font-size: .9rem;
    line-height: 18px;
    padding: 10px 456px 10px 0;
}
.training-img{
    height: 225px;
    position: relative;
    
}
.training-img::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 255, 0.574);
    z-index: 1;
}
.exercise-2::after{
    background-color: rgba(255, 127, 80, 0.551);
}
.exercise-3::after,
.exercise-4::after{
    background-color: rgba(0, 0, 0, 0.502);
}
.exercise-5::after{
    background-color:rgba(133, 194, 43, 0.427) ;
}
.exercise-6::after{
    background-color:rgba(27, 98, 166, 0.446) ;
}
.training-img img{
    height:100%;
}
.img-description {
    font-size: .9rem;
    position: absolute;
    bottom: 18px;
    left: 31px;
    z-index: 2;
}
.img-description-middle{
    top: 30px;

}
.img-description-right{
    top: 30px;
    left: 293px;
   
}
.exercise-img-container{
    display: grid;
    grid-template-columns: 40% 25% 35%;
}

/* responsive styles */
@media screen and (max-width:576px) {

    .bar {
        display: block;
    }

    .menubar {
        display: none;
    }
    .banner-title {
    font-size: 2.5rem;
    font-weight: 800;
}

    .banner-container,
    .card-container,
    .run-container {
        flex-direction: column;
    }
    .banner-title {
        font-size: 2.5rem;
        font-weight: 800;
    }

    .habit-container {
        margin-top: 0px;
    }
    .habit-title {
        font-size: 2rem;
    }

    .card-container {
        gap: 0;
    }

}