* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.miama {
    font-family: 'Miama', sans-serif;
    font-size: 9.8rem;
    font-weight: 400;
}

.inter {
    font-family: "Inter", sans-serif;
}


/* common styles */
body {
    background-color: black;
}

.color-1 {
    color: rgb(230, 83, 60);
}

.color-2,
.img-title,
.img-description,
th {
    color: rgb(255, 255, 255);
}

.color-3,
.img-subtitle,
td {
    color: rgba(255, 255, 255, 0.5);
}

.color-4 {
    color: orange;
}

.display-flex {
    display: flex;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;

}

/* navbar styles */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.navbar-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.menubar {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 5px;
}

.list {
    gap: 50px;
    align-items: center;
}

.navbar-title {
    font-size: 2.25rem;
    font-weight: 800;
}

.menubar ul li {
    list-style: none;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
}

.bar {
    display: none;
}

#active a {
    background-color: rgb(230, 83, 60);
    padding: 5px 15px;
    border-radius: 15px;
}

/* banner styles */
.banner-container {
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 80px;
}

.banner-description {
    margin: 24px 0;
    max-width: 58%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.banner-img {
    position: relative;
}

.btn {
    background-color: rgb(230, 83, 60);
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    border: none;

}

.btn-primary {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 5px;
    font-size: 1.1rem;
}

.five-hundred {
    position: absolute;
    top: 128px;
    right: -44px;
    width: 136px;
    height: 66px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px;
}

.title {
    font-size: 2rem;
    font-weight: 900;
}

.sub-title {
    font-size: 0.9rem;
    font-weight: 300;
}

.three-hundred {
    color: rgb(250, 250, 249);
    position: absolute;
    height: 41px;
    width: 150px;
    padding: 22px 0px 26px 55px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    background-color: rgba(48, 48, 48, 0.74);
    top: 369px;
    left: -119px;
}

.three-hundred ::after {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    top: 27px;
    left: 11px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}

.heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.sub-heading {
    font-size: .9rem;
    font-weight: 400;
}

/* change your habit section  */
.habit-container {
    text-align: center;
    margin-top: 100px;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px
}

.habit-description {
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 24px;
    padding: 0px 228px;
}

.card-container {
    gap: 50px;
}

.card {
    padding: 30px 25px;
}

.card img {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.card-title {
    text-align: center;
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-description {
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    line-height: 18px;
}

/* run styles */
.run-container {
    margin: 20px 0;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(48, 48, 48, 0.54);
    gap: 150px;
}

.run {
    width: 60%;
}

.run h2 {
    font-size: 3rem;
    font-weight: 900;
    padding-right: 58px;
}

.run-subtitle {
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0 10px 0;
    padding-right: 102px;
}

.run-img {
    height: 300px;
    width: 40%;
}

.run-img img {
    border-radius: 10px;
    height: 100%;
}

.btn-secondary {
    background-color: rgb(230, 83, 60);
    padding: 15px 55px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    margin-top: 24px;
    color: rgb(255, 255, 255);
}

/* training styles */
.training {
    margin: 80px 0 50px 0;
}

.training-img-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.training-title {
    font-size: 3rem;
    font-weight: 900;
}

.training-description {
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 456px 10px 0;
}

.training-img {
    height: 225px;
    position: relative;

}

.training-img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 255, 255, 0.574);
    z-index: 1;
}

.exercise-2::after {
    background-color: rgba(255, 127, 80, 0.551);
}

.exercise-3::after,
.exercise-4::after {
    background-color: rgba(0, 0, 0, 0.502);
}

.exercise-5::after {
    background-color: rgba(133, 194, 43, 0.427);
}

.exercise-6::after {
    background-color: rgba(27, 98, 166, 0.446);
}

.training-img img {
    height: 100%;
}

.img-description {
    font-size: .9rem;
    position: absolute;
    bottom: 18px;
    left: 31px;
    z-index: 2;
}

.img-description-middle {
    top: 30px;

}

.img-description-right {
    top: 30px;
    left: 268px;
}

.exercise-img-container {
    display: grid;
    grid-template-columns: 40% 25% 35%;
}

/* BMI Calculator styles */
.bmi-container {
    margin: 80px 0 80px 221px;
}

.bmi-chart {
    width: 61%;
    margin-right: 56px;
}

.bmi-title {
    font-size: 3rem;
    font-weight: 900;
}

.bmi-description {
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    padding-right: 235px;
}

.bmi-chart h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 900;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    text-align: start;
    font-size: 1rem;
    font-weight: 500;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    text-align: start;
    font-size: .9rem;
    font-weight: 400;
    color: rgba(154, 139, 139, 0.691);
}

table {
    border-collapse: collapse;
}

.bmi-calculate-section {
    background-color: rgba(48, 48, 48, 0.54);

}

.bmi-calculate-container {
    justify-content: space-between;
    padding: 40px 60px;
    font-size: 1.5rem;
    font-weight: 800;
    gap: 66px;
}

.calculation-title {
    font-size: 1.75rem;
    font-weight: 900;
}

.calculation-description {
    font-size: .9rem;
    margin: 10px 0 10px 0;
    line-height: 18px;
    color: rgba(154, 139, 139, 0.691);
    font-weight: 600;
}

.form-container {
    display: grid;
    grid-template-areas:
        "input-1 input-2"
        "input-3 option-1"
        "option-2 option-2";
}

input {
    height: 36px;
    width: 45%;
    border-radius: 7px;
    background-color: rgba(48, 48, 48, 0.361);
    margin-bottom: 8px;
    border: none;
    padding: 0 105px 0 15px;
}

input::placeholder {
    color: rgba(154, 139, 139, 0.691);
    font-size: 1rem;
    font-weight: 600;
}

#input-1 {
    grid-area: input-1;
}

#input-2 {
    grid-area: input-2;
}

#input-3 {
    grid-area: input-3;
}

#option-1 {
    height: 36px;
    width: 96%;
    border: none;
    border-radius: 7px;
    background-color: rgba(48, 48, 48, 0.361);
    margin-bottom: 8px;
    padding-left: 10px;
    color: rgba(154, 139, 139, 0.691);
    font-size: 1rem;
    font-weight: 600;
    grid-area: option-1;
}

#option-2 {
    height: 36px;
    width: 98%;
    border: none;
    border-radius: 7px;
    background-color: rgba(48, 48, 48, 0.361);
    margin-bottom: 8px;
    padding-left: 10px;
    color: rgba(154, 139, 139, 0.691);
    font-size: 1rem;
    font-weight: 600;
    grid-area: option-2;


}


/* team styles */
.team {
    text-align: center
}

.team-title {
    margin-top: 88px;
    font-size: 3rem;
    font-weight: 900;
}

.team-description {
    margin: 25px 0 50px 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0 228px;
}

#img-1 {
    grid-area: img-1;
}

#img-2 {
    grid-area: img-2;
}

#img-3 {
    grid-area: img-3;
}

#img-4 {
    grid-area: img-4;
}

#img-5 {
    grid-area: img-5;
}

#img-6 {
    grid-area: img-6;
}

.team-img-container {
    display: grid;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 10px;
    grid-template-areas:
        "img-1 img-2 img-3"
        "img-4 img-5 img-6";

}

.team-img {
    margin: 15px 10px 15px 15px;
    height: 331px;
    position: relative;
}

.team-img img {
    border-radius: 25px;
    height: 100%;
}

.description {
    position: absolute;
    bottom: 15px;
    z-index: 1;
    left: 30px;
}

/* testimonial styles */
.testimonial-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin: 120px 0;
}

.testimonial-card {
    gap: 30px;
}

.card-testmonial {
    background-color: darkcyan;
    position: relative;
    padding: 80px 20px 20px 20px;
    text-align: center;
    width: 33%;
    border-radius: 5px;
}
.card-testmonial-img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.card-testmonial-img img {
    height: 100%;
}

.card-testmonial h3 {
    margin-bottom: 10px;
}

.card-testmonial p {
    margin-top: 10px;
    line-height: 24px;
    font-size: .9rem;
    font-weight: 400;
}


/* footer styles */
footer {
    background-color: rgba(48, 48, 48, 0.54);
    margin-top: 93px;
}

.fitness-container {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    border-bottom: 1px solid rgba(154, 139, 139, 0.691);
    padding: 72px 0;
}

.fitness-title {
    font-size: 4.3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.fitness-description {
    line-height: 24px;
    font-size: .9rem;
    font-weight: 400;
    padding-right: 120px;
}

.list-title,
.list-item-title {
    font-weight: 700;
    font-size: 2rem;
}

.items li {
    list-style: none;
    margin-top: 20px;
}

.items li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;

}

.right {
    text-align: center;
    padding: 30px 0;
    font-size: 1.25rem;
    font-weight: 400;
}

/* responsive styles */

@media screen and (max-width:576px) {
    .container {
        max-width: 95% !important;
    }

    .bar {
        display: block;
    }

    .menubar {
        display: none;
    }

    .banner-container,
    .card-container,
    .run-container,
    .bmi-calculate-container,
    .testimonial-card {
        flex-direction: column;
    }

    .banner-title {
        font-size: 2.25rem;
        font-weight: 800;
        margin-top: 55px;
        line-height: 45px;
    }

    .miama {
        font-size: 5rem;
    }

    .banner-description {
        margin: 24px 0;
        max-width: 60%;
        line-height: 24px;
    }

    .btn,
    .btn-primary {
        padding-right: 23px;
        font-size: .9rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .sub-title,
    .sub-heading {
        font-size: .8rem;
    }

    .heading {
        font-size: 1.3rem;
    }

    .five-hundred {
        top: 50px;
        right: 6px;
        width: 120px;
        height: 53px;

    }

    .three-hundred {
        height: 34px;
        width: 91px;
        padding-top: 12px;
        top: 243px;
        left: 17px;
    }

    .three-hundred ::after {
        width: 30px;
        height: 30px;
        top: 24px;
    }

    .habit-container {
        margin-top: 0px;
    }

    .habit-title {
        font-size: 1.75rem;
    }

    .habit-description {
        font-size: .9rem;
        line-height: 24px;
        padding: 0px 52px;
    }

    .card {
        padding: 70px 85px 0 85px;
    }

    .card-container {
        gap: 0;
    }

    .card-description {
        font-size: .9rem;
    }

    .run {
        width: 100%;
    }

    .run h2 {
        font-size: 1.75rem;
        padding-right: 74px;
    }

    .run-subtitle {
        padding-right: 74px;
    }

    .run-img {
        width: 100%;
    }

    .run-container {
        gap: 46px;
    }

    .btn-secondary {
        padding: 15px 65px;
        font-size: .9rem;
    }

    .training-img-container {
        grid-template-columns: 50% 50%;
    }

    .exercise-img-container {
        grid-template-columns: 50% 50%;
    }

    .exercise-3,
    .exercise-6 {
        display: none;
    }

    .img-description-right {
        top: 30px;
        left: 55%;
    }

    .training-title {
        font-size: 2.25rem;
        font-weight: 700;
    }


    .training-description,
    .bmi-description {
        padding-right: 67px;
    }

    .bmi-calculate-container {
        padding: 33px 30px;
        gap: 36px;
    }

    .bmi-chart table {
        width: 85%;
    }

    .bmi-container {
        margin: 40px 0;
    }

    .bmi-title {
        font-size: 1.75rem;
        margin-bottom: 14px;
    }

    .bmi-chart {
        width: 100%;
    }

    .bmi-chart h3 {
        font-size: 1rem;
    }

    .calculation-title {
        font-size: 1rem;
    }

    .calculation-description {
        line-height: 24px;
    }

    input {
        padding: 0 17px 0 15px;
        width: 76%;
    }
    input::placeholder {
        font-size: 0.7rem;
    }
    #option-1,#option-2 {
        font-size: 0.7rem;
    }

    .team-title {
        font-size: 1.75rem;
    }

    .team-description {
        line-height: 24px;
        padding: 0 52px;
    }

    .team-img-container {
        grid-template-areas:
            "img-2"
            "img-5"
            "img-3"
            "img-6";
    }

    .team-img {
        margin: 15px 25px 15px 25px;
    }

    #img-1,
    #img-4 {
        display: none;
    }

    .testimonial-title {
        font-size: 2rem;
        margin-top: 90px;
    }

    .card-testmonial {
        width: 62%;
        margin-left: 14%;
        margin-bottom: 75px;
    }



    footer {
        margin-top: 0;
    }

    .fitness-container {
        grid-template-columns: none;
        padding-top: 20px;
    }

    .fitness-title {
        font-size: 3.75rem;

    }

    .fitness-description {
        padding-right: 104px;
        margin-top: 20px;
    }

    .list-title,
    .list-item-title {
        margin: 30px 0 40px 0;
        font-size: 1.75rem;
    }

    .items li a {
        font-size: 1.25rem;
    }
}