* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.pacifico {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
}

/* common styles */
body {
    background-color: black;
}

.color-1 {
    color: rgb(230, 83, 60);
}

.color-2 {
    color: rgb(255, 255, 255);
}

.color-3 {
    color: rgba(255, 255, 255, 0.5);
}

.display-flex {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}
img{
    width: 100%;
    
}

/* navbar styles */
.navbar-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.menubar {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 5px;
}

.list {
    gap: 50px;
    align-items: center;
}

.navbar-title {
    font-size: 2rem;
    font-weight: 800;
}

.menubar ul li {
    list-style: none;
}

.menubar ul li a {
    text-decoration: none;
    color: white;
}

.bar {
    display: none;
}

#active a {
    background-color: rgb(230, 83, 60);
    padding: 5px 15px;
    border-radius: 15px;
}

.btn {
    background-color: rgb(230, 83, 60);
    padding: 10px 30px;
    border-radius: 15px;
    font-size: .7rem;
    border: none;

}

/* banner styles */
.banner-container {
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 900;
}

.banner-description {
    margin: 24px 0;
    max-width: 50%;
    line-height: 24px;
}
.banner-img {
    position: relative;
}
.btn-primary {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 30px;
    margin-left: 5px;
    font-size: .7rem;
}
.five-hundred {
    position: absolute;
    top: 128px;
    right: -44px;
    width: 136px;
    height: 66px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 13px;
}
.title {
    font-size: 2rem;
    font-weight: 900;
}
.sub-title {
    font-size: 0.9rem;
    font-weight: 300;
}
.three-hudred {
    position: absolute;
    height: 41px;
    width: 110px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 14px;
    background-color: rgba(48, 48, 48, 0.54);
    top: 417px;
    left: -69px;
}
.heading {
    font-size: 1.5rem;
    font-weight: 800;
}
.sub-heading {
    font-size: .9rem;
    font-weight: 400;
}
/* change your habit section  */
.habit-container{
    text-align:center ;
    margin-top: 100px ;  
}
.habit-title{
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 10px
}
.habit-description{
   font-size: .7rem;
   font-weight: 400;
   margin-bottom: 20px;
   line-height: 18px;
}
.card-container{
    gap: 50px;
}
.card{
  padding: 30px;

}
.card img {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%; 
}
.card-title{
text-align: center;
margin-top: 15px;
font-size: .9rem;
margin-bottom: 10px;
}
.card-description{
text-align: center;
font-size: .8rem;
}
/* run styles */
.run-container{
 margin: 20px 40px;
   border-radius: 10px;
   padding: 30px;
   background-color: rgba(48, 48, 48, 0.54) ;
   gap: 150px;
}
.run{
    width: 60%;
}
.run h2{
    font-size: 36px;
}

.run-subtitle {
    line-height: 25px;
    margin-top: 15px;
    padding: 0 95px 0px 0px;
    margin-bottom: 10px;
}
.run-img{
    height: 250px;
    width: 40%;
}
.run-img img{
    border-radius:10px; 
   height: 100%;

   
}
.btn-secondary {
    background-color: rgb(230, 83, 60);
    padding: 15px 42px;
    border-radius: 15px;
    font-size: .7rem;
    border: none;
    margin: 24px 0 0 0;
}

@media screen and (max-width:576px) {

    .bar {
        display: block;
    }

    .menubar {
        display: none;
    }

    .banner-container,
    .card-container,
    .run-container {
        flex-direction: column;
    }
    .habit-container {
        margin-top: 0px;
    }
    .card-container{
        gap: 0;
    }

}